- group_anchor_id = "qg#{group.id}"
.question_group
  %span.anchor
    %a{:name => group_anchor_id}
  .head
    .number= question_number_helper number
    .text
      = group.text
      %span.help= group.help_text
  %ul.repeater
    - (response_set.count_group_responses(group) + 1).times do |group_number|
      - number_counter = 1
      %li.repeater
        - group.questions.each do |question|
          = render(:partial => "/question_display_types/repeater_#{question.display_type}", :locals => {:question => question, :response_set => response_set, :number => "#{number}.#{number_counter}" ,:hide_label => true, :response_group => group_number, :disabled => false})
          - number_counter += 1 if question.display_type != "label"
    %li.repeater
      - group.questions.each do |question|
        = render(:partial => "/question_display_types/repeater_#{question.display_type}", :locals => {:question => question, :response_set => response_set, :number => "" ,:hide_label => true, :response_group => 9999, :disabled => true})
      = submit_tag("&lt;= add row", :name => section_submit_name_helper(group.questions.first.survey_section,group_anchor_id), :class => "add_row")  