- case question_group.renderer
- when :grid
  .question_group
    .head
      .number= question_number_helper number
      .text
        = group.text
        %span.help= question_group.help_text
    %table.grid
      %thead
        %th= "&nbsp;"
        - reset_cycle("column_highlight")
        - question_group.questions.first.answers.each do |answer|
          %th{:class => "#{cycle("column_highlight", "", :name => "column_highlight")}"}= answer.text
      %tfoot
        %th= "&nbsp;"
        - reset_cycle("column_highlight")
        - question_group.questions.first.answers.each do |answer|
          %th{:class => "#{cycle("column_highlight","", :name => "column_highlight")}"}= answer.text
      %tbody 
        - number_counter = 1
        - question_group.questions.each do |question|
          - if !question.has_dependency? or question.dependency_is_satisfied?(response_set)
            = render(:partial => "/partials/question", :locals => {:question => question, :response_set => response_set, :show_question => show_question,  :number => "#{number}.#{number_counter}"})
            - number_counter += 1 if question.display_type != "label"
- when :repeater
  - group_anchor_id = "qg#{question_group.id}"
  .question_group
    %span.anchor
      %a{:name => group_anchor_id}
    .head
      .number= question_number_helper number
      .text
        = question_group.text
        %span.help= question_group.help_text
    %ul.repeater
      - (response_set.count_group_responses(question_group) + 1).times do |group_number|
        - number_counter = 1
        %li.repeater
          - question_group.questions.each do |question|
            = render(:partial => "/partials/question", :locals => {:question => question, :show_question => show_question, :response_set => response_set, :number => "#{number}.#{number_counter}" ,:hide_label => true, :response_group => group_number, :disabled => false})
            - number_counter += 1 if question.display_type != "label"
      %li.repeater
        - question_group.questions.each do |question|
          = render(:partial => "/partials/question", :locals => {:question => question, :show_question => show_question, :response_set => response_set, :number => "" ,:hide_label => true, :response_group => 9999, :disabled => true})
        = submit_tag("&lt;= add row", :name => section_submit_name_helper(question_group.questions.first.survey_section,group_anchor_id), :class => "add_row")
- else
  .question_group
    .head
      .number= question_number_helper number
      .text
        = question_group.text
        %span.help= question_group.help_text
    - number_counter = 1
    %ul
      - question_group.questions.each do |question|
        - if !question.has_dependency? or question.dependency_is_satisfied?(@response_set)
          %li
            = render(:partial => "/partials/question", :locals => {:question => question, :show_question => show_question, :response_set => @response_set, :number => "#{number}.#{number_counter}", :hide_label => true})
          - number_counter += 1 if question.display_type != "label"