-# TODO: js for slider
- rg ||= nil
- renderer = q.renderer(g ||= nil)
= f.inputs q_text(q), :id => rg ? "q_#{q.id}_#{rg}" : "q_#{q.id}", :class => "q_#{renderer} #{q.css_class(@response_set)}" do
  - unless q.help_text.nil?
    %div.surveyor_help_text{ :id => 'surveyor_help_text_q' + q.id.to_s }
      = q.help_text.html_safe
    %a.surveyor_help{:data => {:id => 'q' + q.id.to_s}, :id => 'surveyor_help_q' + q.id.to_s}
      %img{:src => 'http://static.infotech.com/images/VendorLandscapeImages/help-icon-hover.png', :width => '20px'}/
    %a.close_surveyor_help{:data => {:id => 'q' + q.id.to_s}, :id => 'close_surveyor_help_q' + q.id.to_s}
      %img{:src => 'http://static.infotech.com/images/VendorLandscapeImages/close-help-hover.png', :width => '20px'}/
  - case renderer
  - when :image, :label
  - when :dropdown, :inline_dropdown, :slider, :repeater_dropdown
    - r = response_for(@response_set, q, nil, rg)
    - i = response_idx
    = f.semantic_fields_for i, r do |ff|
      = ff.quiet_input :question_id
      = ff.quiet_input :response_group, :value => rg if g && g.display_type == "repeater"
      = ff.quiet_input :id unless r.new_record?
      = ff.input :answer_id, :as => :select, :collection => q.answers.map{|a| [a.text, a.id]}, :label => q.text
  - else # :default, :inline, :inline_default
    - if q.pick == "one"
      - r = response_for(@response_set, q, nil, rg)
      - i = response_idx  # increment the response index since the answer partial skips for q.pick == one
      = f.semantic_fields_for i, r do |ff|
        = ff.quiet_input :question_id
        = ff.quiet_input :response_group, :value => rg if g && g.display_type == "repeater"
        = ff.quiet_input :id unless r.new_record?
    - q.answers.each do |a|
      = render a.custom_renderer || '/partials/answer', :q => q, :a => a, :f => f, :rg => rg, :g => g


