-# TODO: js for slider pre/post text for question in a grid
- renderer = q.renderer(g ||= nil)
- f.inputs q_text(q), :id => "q_#{q.id}", :class => "q_#{renderer} #{q.css_class(@response_set)}" do
  %span.help= q.help_text
  - case renderer
  - when :image, :label
  - when :dropdown, :inline_dropdown, :slider
    - r = response_for(@response_set, q)
    - i = response_idx
    - f.semantic_fields_for i, r do |g|
      = g.input :question_id, :as => :hidden
      = g.input :answer_id, :collection => q.answers.map{|a| [a.text, a.id]}, :label => false
  - else # :default, :inline, :inline_default
    - if q.pick == "one"
      - r = response_for(@response_set, q)
      - i = response_idx
      - f.semantic_fields_for i, r do |g|
        = g.input :question_id, :as => :hidden
        = g.input :id, :as => :hidden unless r.new_record?
    - q.answers.each do |a|
      = render a.custom_renderer || '/partials/answer', :q => q, :a => a, :f => f
