.surveyor_menu
  - if !@survey.translations.empty?
    = hidden_field_tag "current_section", @section.id
    .surveyor_language_selection
      = label_tag "locale", t('surveyor.language')
      %select{:id=>"locale", :name=>"new_locale"}
        = options_for_select(@survey.translations.map(&:locale),I18n.locale)

  = t('surveyor.sections')
  %ul
    - @sections.each do |s|
      %li{:class => ("active" if s == @section)}= menu_button_for(s)
