:javascript
  function highlightQuestions(question, message) {
    $('#q_' + question).addClass('error');
    $('#q_' + question).append('<div id="q_' + question + '_error">' + message + '</div>');      
  }


#surveyor
  - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
    .surveyor_flash
      = flash_messages(types)
      .close
  = semantic_form_for(@response_set, :as => :r, :url => update_my_survey_path, :html => {:method => :put, :id => "survey_form", :class => @survey.custom_class}) do |f|
  
    = hidden_field_tag :surveyor_javascript_enabled, false
		
    = hidden_field_tag :current_section, @section.id unless @section.nil?

    = render 'partials/section_menu' # unless @sections.size < 3
    .survey_title= @survey.title
    .previous_section= previous_section
    = render 'partials/dependents' unless @dependents.empty?
    - if @response_set.no_responses_for_section?(@section) # cache if response_set has no responses for current section
      - cache("section_#{@section.id}") do
        = render "/partials/section", :f => f
    - else # no cache
      = render "/partials/section", :f => f

    - unless flash[:validation_errors].nil?
      - flash[:validation_errors].each do |error|
        = "<script>highlightQuestions('#{error[:question]}', \"#{error[:message][0]}\")</script>".html_safe

    .next_section= next_section
  %br

:javascript
  $(document).ready(function() {
    $("input#surveyor_javascript_enabled").val(true);

    $(".surveyor_help_text").hide();
    $(".close_surveyor_help").hide();

    $(".surveyor_help").hover(function(){
      var id = $(this).data('id');
      $("#surveyor_help_text_" + id).fadeIn();
    },
   	function(){
      var id = $(this).data('id');
      $("#surveyor_help_text_" + id).fadeOut();
    });
  });




