-content_for :head do
  =stylesheet_link_tag(@survey.css_url) unless @survey.css_url.blank?

%script{:type => 'text/javascript'}
  $(document).ready(function(){
  $(".date.answer input").datepicker({changeMonth: true, changeYear: true,showOn: 'button', buttonImage: " #{root_url}/images/icons/calendar.gif", buttonImageOnly: true});
  $(".answer.timepicker input").datetime({userLang:'en',americanMode: true});
  });
#surveyor
  - form_tag(update_my_survey_path, :method => :put, :id => "survey_form", :class => @survey.custom_class) do
    = hidden_field_tag :current_section_id, @section.id
    - unless @sections.size < 2
      #menu
        Sections:
        %ul
          - @sections.each do |s|
            %li{:class => ("active" if s == @section)}
              = menu_button_for(s)
    .previous_section= previous_section
    - unless @dependents.empty?
      #dependents
        .title Follow-up questions from your answers on the previous page
        -# @dependents.each_with_index do |question, index|
          = dependency_explanation_helper(question, @response_set)
          = render(:partial => question.custom_renderer || "/partials/question", :locals => {:question => question, :response_set => @response_set, :number => "D#{index+1}"})
    - div_for @section, :class => @section.custom_class do
      %span.title= @section.title
      .questions
        - group_questions ||= []
        - @questions.each_with_index do |question, index|
          - unless question.part_of_group?
            = render(:partial => question.custom_renderer || "/partials/question", :locals => {:question => question, :response_set => @response_set})
          - else # gather up the group questions
            - group_questions << question
            - if (index + 1 >= @questions.size) or (question.question_group_id != @questions[index + 1].question_group_id)
              - # this is the last question of the section, or the group
              = render(:partial => question.question_group.custom_renderer || "/partials/question_group", :locals => {:question_group => question.question_group, :response_set => @response_set, :group_questions => group_questions})
              - group_questions = []
    .next_section
      =link_to("Save & Exit",dashboard_path)
      =next_section
      
