#surveyor
  - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
    .surveyor_flash
      = flash_messages(types)
      .close
  .survey_title Available Surveys <a href='https://www.github.com/blueboard/surveyor'><span style='text-align:right;float:right;'>Version #{Surveyor::VERSION}</span></a>
  %br
  #survey_list
    %ul
      - @surveys.each do |survey|
        %li{style:'margin-bottom:15px;border-bottom:1px solid gray;'}
          =link_to survey.title, surveyor.view_survey_path(survey_access_code: survey.access_code)
          %small version #{survey.survey_version}
          - survey.response_sets.each do |response_set|
            - if response_set.responses.present?
              %div{style:'margin-bottom:5px;border-bottom:1px solid white'}
                %p <b>#{response_set.access_code}:</b>
                - response_set.responses.each do |response|
                  %p <b>#{response.question.text}</b>
                  %p{style:'border-bottom:1px solid #eee'} <i>#{response.to_formatted_s}</i>

:javascript
  $(document).ready(function() {
    $("input#surveyoone dar_javascript_enabled").val(true);
  });