#surveyor.container
  = render 'partials/surveyor_flash'
  %h1.surveys= t('surveyor.take_these_surveys')
  - @surveys_by_access_code.each do |access_code, surveys|
    %p
      = form_tag surveyor.take_survey_path(:survey_code => access_code), :class => "form-inline" do
        .form-group
          %button.btn.btn-primary{:type => "submit"}= surveys.first.translation(I18n.locale)[:title]
          - if surveys.count > 1
            = select_tag(:survey_version, options_for_select([["Current version", ""]] + (surveys.map(&:survey_version) || [])), :class => "form-control")
        = hidden_field_tag :surveyor_javascript_enabled, false

:javascript
  $(document).ready(function() {
    $("input#surveyor_javascript_enabled").val(true);
  });