#surveyor
  - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
    .close
  .survey_title= t('surveyor.take_these_surveys')
  %br
  #survey_list
    %ul
      - unless @surveys.empty?
        - @surveys.each do |survey|
          %li
            = form_tag(take_survey_path(:survey_code => survey.access_code)) do 
              = hidden_field_tag :surveyor_javascript_enabled, false              

              = survey.title
              &nbsp;
              = submit_tag( t('surveyor.take_it') )
      - else
        %li
          No surveys

:javascript
  $(document).ready(function() {
    $("input#surveyor_javascript_enabled").val(true);
  });