<table class="list_table">
  <tr>
    <th>ID</th>
    <th>Code</th>
	<% @questions.each do |question| %>
		<% next if question.display_order == 1 %>
		<th><%= "[" +question.display_order.to_s + "]" + question.text  %></th>
	<% end %>
  </tr>

<% @response_sets.each do |r_set| %>
  <tr>
    <td><%=h r_set.id %></td>
    <td><%=h r_set.access_code %></td>
	<% @questions.each do |question| %>
		<% next if question.display_order == 1 %>
		<td><%= display_response(r_set,question) %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Back", results_path %>
