- reset_cycle("column_highlight")
%tr
  %td.question_prefix
    .question
      %span.text= question_text_prefix_helper(question.text)
      %span.help= question.help_text
      = hidden_field_tag("responses[#{question.id}][question_id]", question.id)
  - question.answers.each do |answer|
    %td{:class => "#{cycle("column_highlight", "", :name => "column_highlight")}"}
      .answer 
        - options= question.answers.collect{|a| "<option #{ (response_set.response_for(question.id, a.id).selected?)? "selected='selected'" : nil } value ='#{a.id}'>#{a.text}</option>" }
        = select_tag("responses[#{question.id}][answer_id]", ["<option value=''>Select one...</option>"].concat(options))
  %td.question_postfix
    .question
      %span.text= question_text_postfix_helper(question.text)
