- reset_cycle("column_highlight")
%tr
  %td.question_prefix
    .question
      %span.text= question_text_prefix_helper(question.text)
      %span.help= question.help_text
      = hidden_field_tag("responses[#{question.id}][question_id]", question.id)
  - question.answers.each do |answer|
    %td{:class => "#{cycle("column_highlight", "", :name => "column_highlight")}"}
      .answer 
        = render(:partial => "/answer_display_types/grid_#{answer.partial_name}", :locals => {:answer => answer, :response_obj => response_set.response_for(question.id, answer.id)})
  %td.question_postfix
    .question
      %span.text= question_text_postfix_helper(question.text)