.question
  %span.text= question.text
  %span.help= question.help_text
  = hidden_field_tag("responses[#{question.id}][question_id]", question.id)
  - options= question.answers.collect{|a| "<option #{ (response_set.response_for(question.id, a.id).selected?)? "selected='selected'" : nil } value ='#{a.id}'>#{a.text}</option>" }
  = select_tag("responses[#{question.id}][answer_id]", ["<option>Select one...</option>"].concat(options))